<html>
    <head>
    </head>
    <body id="homepage">
        <div>
            <header>Header</header>
            <ul className="List">
                <li><a href="Snap">Snap</a></li>
                <li><a href="Features">Features</a></li>
                <li><a href="Company">Company</a></li>
                <li><a href="Carrer">Carrer</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Login">Login</a></li>
                <li><a href="Register">Register</a></li>
            </ul>
        </div>
    </body>
</html>